// Custom css goes here
@import "style";

// =============================================  //
// set body height to 100%
html {
  position: relative;
  min-height: 100%;

}
a {
  color:#124bc9;
  text-decoration: none;
}
body {
  height:100%;
  color:$gray;
  font-family: 'Raleway', sans;
  font-weight:300;
}
p {
  letter-spacing: .25px;
}
// UL LI
.ministry-block > ul, .ministry-block > li {
  list-style: none;
  font-family:"Helvetica";
  font-size:1em;
  font-style:oblique;
  margin:0 0 0 1.5em;
}
.img-margin-sm {
  margin:.75em;
}
.padding-med {
  padding:1.5em;
}
.margin-med {
  margin:1.5em;
}
@media (max-width:978px) {
    .btn, .panel-heading, .h3, h1, h2, h3, h4, p, li {
      font-size:85%;
    }
    div.footer-times-location img {
      max-width: 35%;
    }
    a.logo img {
      max-width: 80%;
    }
  }
//buttons
div > button {
  margin: 0 auto;
}

// staff grid

.margin-md {
  margin:1em;
}
#edit-processed-text > p > img {
  box-shadow:4px 4px 10px;
  border-radius:5px;
}
#doc-block {
  background-color:#C7D5ED;
}
// responsive images, max width, for content
// staff images
.img-staff img {
  box-shadow:4px 4px 10px;
  border-radius:5px;

}
.block-field-blocknodestafffield-image img {
  box-shadow:4px 4px 10px;
  margin:.5em;
}
// widths
.w-25 {
  width:25%;
  height:auto;
}
.w-50 {
  width:50%;
  height:auto;
}
//Buttons
.btn:hover {
  background-color:#efefef;
  color:#111;
}
.btn-default {
  background-color: #4a1730;
}
// blog
#views-bootstrap-blog-list-block-1 > li > div > div > p > img {
  display:none;
}
body > div.dialog-off-canvas-main-canvas > div > div > section > div.region.region-content > article > div.content > div > div > section.block.block-layout-builder.block-field-blocknodeblog-postbody.clearfix > div > p > img {
  margin:.5em;
  box-shadow:4px 4px 10px;
}

// main
div.main-container.container-fluid {margin:0 2em 0 2em;}
@media screen and (max-width: 600px) {
  div.main-container.container-fluid {margin:0 .25em 0 .25em;}
}
// menu fonts
.navbar-nav > li > a, .dropdown-menu > li > a, .navbar-nav > li {
  font-family:"Julius Sans One", sans-serif;
  letter-spacing: .5px;
}

// panels style
.panels {box-shadow:0 1px 1px rgba(0,0,0,.05);}


// Video Block padding-top


// Centering
// div
.center-div
{
     margin: 0 auto;
    // width: 100px !important;
}
.margin-bottom-5 {
  margin-bottom:5px;
}
// header
.navbar-nav > li > a:hover {
  color:white;
}
.navbar-nav > li > a:active {
    color:#ddd;
}
//Slideshow tweaks
div[id*='views_slideshow_cycle_div_front_page_slideshow-block'] {
  position:relative !important;
}
.caption {
  position:absolute;
  color:#f3f3f3;
  bottom:.5em;
  left:35%;
  background-color:rgba(0,0,0,0.4);
  padding:.5em;
  border:solid 1px #222;
}

div.form-group {
  margin-bottom:1px;
}
.flexslider {
  margin-bottom:1px;
}


a:hover, a:focus, a:active {
  text-decoration: none;
}
.navbar {border-radius:0px;
  margin-bottom:1px;
  }
.navbar-nav {float:right; margin:.2em 1em 0 0;}
.navbar-btn {margin-left:.5em;}

.navbar-nav > li > a:hover {
  text-decoration: underline;
}

// About GBC add some style
div.about.row {margin:1.75em;}
// homepage add some style
div.homepage {margin: 0 0 1.25em 0}
.we-exist-1 {width:100%; margin:0 auto; margin-top:5px; margin-bottom:5px;}
.we-exist-2 {max-width:70%; margin:0 auto;}
// Heading overrides
h1,h2,h3,h4 {
  margin-left:2em;
  color:#194286;
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
}
h3,h4 {
  margin-left:2em;
  font-family: 'Montserrat', sans-serif;
  color:#194286;
  font-weight:300;
}
// panels
.panel-field {
  padding-left: 10px;
}
.panel-default .panel-heading, .panel-heading {
  background-color:#17304b;
  color:#e9ecee;
}
// Breadcrumb
.breadcrumb {
  background-color:Transparent;
  margin-bottom: 10px;
}
// Audio widget tweeks
audio {
  width:99%;
}

// responsive Google Map
.google-maps {
        position: relative;
        padding-bottom: 65%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
// sermon page
.sermon-list .views-row {
  margin-bottom:20px;
  padding-bottom:10px;
  border-bottom:dotted 1px #666;
}
// download-text
.download-text {
  color:red;
}

// footer
.footer {
  height:auto;
  padding-top:2em;
  padding-bottom:2em;
  background-color: #ededed;
}
// footer divs
.footer-times-location, .footer-times-location > h2, h4 {
  color:#121212;
  margin-right:1em;
}
.footer-times-location .footer-description a {
  color:#333;
  text-decoration: none;
}
.footer-times-location .footer-description a:hover {
  color:#3744bf;
}
div.footer-description a:hover {
  color:#1252f3;
}
a:hover .label-info {
  background-color:#1252f3;
  text-decoration:none;
}
